# Backend Configuration
MONGO_URI=mongodb://127.0.0.1:27017/campus-portal
JWT_SECRET=generate_a_secure_random_string_here
CLIENT_URL=http://localhost:5173
SERVER_PUBLIC_URL=http://localhost:5000
PORT=5000
